* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #ccc;
}

.center-page {
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container {
display: flex;
justify-content: center;
align-items: center;
}

.margin-top {
  margin-top: 15px;
}

.margin5 {
  margin: 5px;
}

.pixel {
  width: 20px;
  height: 20px;
  float: left;
  background-color: white;
}

.pixel-row {
  background-color: white;
  width: 20px;
  height: 20px;
  float: left;
}

.color-board{
  border: 1px solid black;
  width: 30px;
  height: 30px;
  float: left;
  border-radius: 50%;
}

input {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.pointer {
  cursor: pointer;
}

.top {
    position: fixed;
    top: 0;
    width: 90%;
    left: 95%;
}

 a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }