* {
  margin: 0;
  padding: 0;
}


.center-page {
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container {
display: flex;
justify-content: center;
align-items: center;
}

.margin-top {
  margin-top: 15px;
}

.margin5 {
  margin: 5px;
}

.pixel {
  width: 20px;
  height: 20px;
  float: left;
}

.pixel-row {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  float: left;
}

.color-board{
  border: 1px solid black;
  width: 30px;
  height: 30px;
  float: left;
  border-radius: 50%;
}

input {
  width: 30px;
  height: 30px;
  margin: 10px;
}
