* {
  margin: 0;
  padding: 0;
}


.center-page {
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container {
  display: flex;
justify-content: center;
align-items: center;
}

.margin-top {
  margin-top: 15px;
}

.pixel {
  width: 20px;
  height: 20px;
  float: left;
}

.pixel-row {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  float: left;
}

.pixel-board{
  border: 1px solid black;
  width: 40px;
  height: 40px;
  float: left;
}